.main-content {
  margin: 0 auto;
  max-width: 900px;
}

.main-heading {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 250px;
  min-height: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #919494;
  background: linear-gradient(
    90deg,
    rgb(164, 168, 168) 0%,
    rgb(129, 131, 131) 100%
  );
  border: solid 0.5px rgba(77, 76, 76, 0.452);
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(194, 196, 195, 0.664);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(260px + 0px);
  min-height: calc(60px + 0px);
  border: 6px solid #a7aaa9;
  box-shadow: 0 0 60px rgba(171, 173, 173, 0.404);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #f6f6f8;
  transform: translateY(-6px);
  border: none;
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #a3a5a4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s 3;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:after {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.accordion-element {
  margin-bottom: 5px;
}
.accordion-title-container {
  height: 2em;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 17, 17);
  color: #fff;
  text-transform: capitalize;
  padding: 1em 1em 0.5em;
  border-radius: 0.5em;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  font-weight: 600;
  cursor: pointer;
  transition: background-color ease 0.3s;
}

.accordion-title-container:hover {
  background-color: rgb(51, 51, 51);
}

.accordion-title {
  width: 100%;
}

.accordion-content-container {
  display: block;
  height: 0px;
  background-color: rgb(128, 128, 128);
  color: #ffffff00;
  border-radius: 0.3em;
  box-shadow: inset 0.7px 0.7px 2px 1.5px rgba(0, 0, 0, 0.75);
  transition: padding ease-in 0.3s;
}

.toggle-on {
  height: fit-content;
  color: #fff;
  margin-top: 0;
  padding: 1em 2em 1em;
}

.accordion-toggle {
  cursor: pointer;
  padding: 5px 20px;
}
